body {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 500px;
}

.container {
  padding: 0 20px;
  padding-top: 0;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 940px;
  height: 100%;
}

.wrapper {
  position: relative;
  z-index: 200;
  background-color: #fff;
}

strong {
  font-weight: 500;
}

span {
  color: $c-text-blue;
}

.section {
  position: relative;
}

.section__title {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -0.5em;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;

  &:before,
  &:after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: calc(50% - 20px);
    background-color: $c-text-blue;
    bottom: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.crown {
  position: absolute;
  background-image: url("../images/crown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 16px;
  width: 23px;
  left: 50%;
  top: 37px;
  transform: translate(-50%, 0);
}

.section__left {
  width: 50%;
}

.section__rigth {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
