@media screen and (max-width: 500px) {
  .container {
    padding: 0 10px;
  }

  .best ol {
    padding-top: 20px;
  } 

  .header {
    position: relative;

    &__phone a {
      position: absolute;
      top: 540px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &__call a {
      position: absolute;
      top: 500px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .navigation {
    bottom: 360px;
  }

  .apart__photo {
    height: 100px;
  }
}

@media screen and (max-width: 640px) {
	.navigation {
		bottom: 360px;

		&-list {
		flex-direction: column;
		}
	}

	.apart {
    	.apart__photo {
      		height: 200px;
    	}
  	}

  	.testimonials {
  		&__container {
  			flex-direction: column;
  			align-items: center;
  		}

  		&__person {
  			padding-bottom: 50px;
  		}
  	}

  	.contact {
  		.container {
  			flex-direction: column;
  			align-items: center;
  		}

      address {
        margin-bottom: 40px;
      }
  	}
}

@media screen and (max-width: 800px) {
	.best {
		padding-top: 60px;
		padding-bottom: 100px;

		.container {
			flex-direction: column;
			align-items: center;
		}

		&__rearly {
			padding-bottom: 30px;
		}
	}

	.consultation {
  		padding: 100px 0;

  		.container {
  			flex-direction: column;
  			align-items: center;

  			& p {
  				padding-bottom: 40px;
  			}
  		}
  	}
}
