.testimonials {
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: $c-main-grey;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__person {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 310px;
  }

  &__photo {
    position: relative;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:after {
      content: "";
      position: absolute;
      display: block;
      background-image: url("../images/“.png");
      background-repeat: no-repeat;
      height: 30px;
      width: 40px;
      top: 56px;
      left: -22px;
    }
  }

  &__name {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }

  &__position {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    color: grey;
  }

  &__text p {
    padding: 0 5px;
    margin-top: 45px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}
